h1 {
  display: flex;
  font-size: 4rem;
  justify-content: center;
}
.Noscontenedor {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.img1 {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  grid-column: 2/2;
  grid-row-end: 1;
}
.img2 {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  grid-column: 1/2;
  grid-row-end: 1;
}

.img3 {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  grid-column: 1/2;
  grid-row-end: 2;
}
.img4 {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  grid-column: 2/2;
  grid-row-end: 2;
}
.img5 {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  grid-column: 1/2;
  grid-row-end: 3;
}
.img6 {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  grid-column: 2/2;
  grid-row-end: 3;
}
.img7 {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  grid-column: 1/2;
  grid-row-end: 4;
}
.img8 {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  grid-column: 2/2;
  grid-row-end: 4;
}
.video {
  background-image: url(./Imagenes/Identidad\ de\ Marca_page-0002.jpg);
  background-size: contain;
  border-radius: 10px;
  grid-column: 2/2;
  grid-row-end: 1;
  display: flex;
  justify-content: center;
  align-content: center;
}
.video video {
  height: 480px;
  width: 640px;
  border-radius: 10px 10px 10px 10px; 
}
@media screen and (max-width: 1024px){
  .Noscontenedor{
    padding: 0px 20px;
    grid-template-columns: repeat(2, 1fr);
  }
  .video {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .video video {
    height: 360px;
    width: 480px;
    border-radius: 10px 10px 10px 10px; 
  }
}
@media screen and (max-width: 768px){
  .Noscontenedor {
    grid-template-columns: (2, 1fr);
  }
   .img2 {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .video {
    grid-column: 1/3;
    grid-row: 2/3;
  }  
  .img3 {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  .img4 {
    grid-column: 1/3;
    grid-row: 4/5;
  }
  .img5 {
    grid-column: 1/3;
    grid-row: 5/6;
  }
  .img6 {
    grid-column: 1/3;
    grid-row: 6/7;
  }
  .img7 {
    grid-column: 1/3;
    grid-row: 7/8;
  }
  .img8 {
    grid-column: 1/3;
    grid-row: 8/9;
  }
}