.contenedor {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,auto);
}
/*<>*/
.contenedor> div
.contenedor .header,
.contenedor .carrusel,
.contenedor .sabores,
.contenedor .colum1,
.contenedor .colum2,
.contenedor .colum3,
.contenedor .footer {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}
.contenedor .header {
    background-color: blue;
    grid-column-start: 1;
    grid-column-end: -1;
}
.contenedor .carrusel {
    grid-column-start: 1;
    grid-column-end: -1;
}
.contenedor .sabores {
    grid-column-start: 1;
    grid-column-end: -1; 
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3,1fr);
}
.contenedor .colum1 {
    background-color: white;
    color: black;
    grid-column-start: 1;
    grid-column-end: 2;
}
.contenedor .colum2 {
    background-color: white;
    color: black;
    grid-column-start: 2;
    grid-column-end: 3;
}
.cucurucho {
    height: 100px;
    width: 150px;
}
h4 {
    text-align: center;
    font-size: 5rem;
    
}

h6 {
    background-color: rgb(155,215,216);
    color: white;
    font-style:italic;
    

}
/*Footer*/
/*.flex-container{
    width: 100px;
    height: 100px;
    background-color: lightblue;
    display: flex;
}
.flex-item{
    background-color: violet;
    border: 1px solid black;
}

*/
footer{
    width: 100%;
    padding: 50px   0px;
    background-image: url(/Imagenes/fondofooter.svg);
    background-size: cover;
  


}

.container_footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    


}
.box_footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;



}
.box_footer .logo img{
    width: 100px;
    ;

}
.box_footer a{
    text-decoration: none;
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 500;
}

.box_footer a :hover{
    flex-direction: column;
    opacity: 0.8;

}
.box_footer a i{
    font-size: 40px;
    color: rgb(155,215,216);
    padding: 0 20px;
    
}


