body{
    background: url(./Imagenes/fondo_famiglia_blanco.png);
}
h1{
    text-align: center;
    color: black;
}
.sucursales{
    width: auto;

    display: flex;
    flex-wrap: wrap;

    justify-content: space-evenly;
    
}
.sucursal-box{
    margin: 20px;
    padding-bottom: 10px;
    box-sizing: border-box;
    border-radius: 10px 10px 0 0;
    background-color: gainsboro;
    flex-wrap: wrap;
}
.sucursal-box:hover{
    background: rgb(155, 215, 216);
    cursor: pointer;
    color: white;
}
.sucursal-box h3{
    text-align: center;
}
.Barrio{
    text-align: center;

}
.pie-foto-box{
    text-align: center;
}
.wpp{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}
.imagen-box{
    width: 300px;
    height: 300px;

    border-radius: 10px 10px 0px 0px;

    margin: 0 0 20 0px;
}
.mapa{
    width: 100%;
    display: flex;
    justify-content: center;
}
.mapa iframe{
    box-sizing: border-box;
    border-radius: 10px;
}

/*Footer*/
footer{
    width: 100%;
    padding: 50px   0px;
    background-image: url(./Imagenes/fondofooter.svg);
    background-size: cover;
  


}

.container_footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    


}
.box_footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}
.box_footer .logo img{
    width: 100px;
    ;

}
.box_footer a{
    text-decoration: none;
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 500;
}

.box_footer a :hover{
    flex-direction: column;
    opacity: 0.8;

}
.box_footer a i{
    font-size: 40px;
    color: rgb(155,215,216);
    padding: 0 20px;
    
}
.h6bute {
    font-size: 2rem;
    font-weight: bold;
    text-transform: capitalize;
    

}
span {
    color: rgb(155,215,216);
    font-size: 1.5rem;
    font-style: italic;
}
.boxsab {
    background-color: white;
    border-radius: 5px;
    width: 70%;
    height: 50%;
   

}
.boxsabcrem {
    background-color: white;
    border-radius: 10px;
    width: 70%;
    height: 100%;

}

.sabores {
    font-size: 4rem;
}
/*Footer*/