h1{
    text-align: center;
}
.sucursales{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


}
.sucursal-box{
    width: calc(33.33%-20px);
    margin: 30px;
    background-color: gainsboro;
    box-sizing: border-box;
    border-radius: 3px;
}
.Barrio{
    text-align: center;

}
.pie-foto-box{
    text-align: center;
}
.wpp{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}
.imagen-box{
    margin: 30px;
    width: 200px;
}